<% if @errors.any? %>
  <h4 class="error_explanation">
    <% @errors.each do |msg| %>
    <%= msg %>
    <% end %>
  </h4>
<% end %>

<body>
  <div class='login'>
    <%=form_for :authentication, url: '/login' do |f| %>
      <p><%=f.label :username%>
      <%=f.text_field :username%></p>
      <p><%=f.label :password%>
      <%=f.password_field :password%></p>
      <p><%=f.submit "Log In"%></p>
    <%end%>

  <p><%=link_to "Create a New Account", signup_path%></p>
  </div>
</body>
