<div style = "text-align: center;"">
<div class='background'><h1 class='feed_title'>Latest Trips</h1>
<% @trips.each do |t| %>
    <div class="feed"><div class = "post_title"><%= t.title %><br></div> - <%= "Rating: " + "#{t.rating}, Region: #{t.region}" %> <br> <%=link_to "Read the Full Trip", trip_path(t)%><br><br></div>
<% end %>
<br>
<div class='feed_words'><%=link_to "See All Trips", trips_path%></div>
<br>
<br>
<h1 class='feed_title'>Latest Posts</h1>
<% @posts.each do |p| %>
    <h3 class='post_title'><%= p.title %></h3>
    <div class='post_details'><%= p.description.truncate_words(4) %>  <%=link_to "Read the Full Post", post_path(p)%></div><br>
<% end %>
<br>
<div class='feed_words'><%=link_to "See All Posts", posts_path%></div>
</div>
</div>
