<h2><%=@trip.title%></h2><br>
<h3>Region: <%=@trip.region%></h3><br>
<h3>Rating: <%=@trip.rating%></h3><br>
<h3>Date of Trip: <%=@trip.date%></h3><br>
<h3>Author: <%= @trip.author%></h3><br><br>
<p><%=@trip.content%></p>
