<div class='backgroundbox'>
<div class='font'>
  <h1><%=@trip.title%></h1>
    <p>By: <%=link_to @trip.user.username, user_path(@trip.user)%></p>
    <%= render 'relationships/follow', locals: {follow: @follow, user: @user} %><br>
    <text>---------------------------------</text>
    <p><strong>Region: </strong><%=@trip.region%>  -  <strong>Rating: </strong><%=@trip.rating%>  -  <strong>Date of Trip: </strong><%=@trip.date%></p>
    <text>---------------------------------</text>
    <p><%=@trip.content%></p><br>

  <text>---------------------------------</text>
  <text>COMMENTS</text>
  <text>---------------------------------</text>

  <%@comments.reverse.each do |comment|%>
    <p class='comment'><%=comment.content%></p>
    <p class='comment_author'>@<%=User.find(comment.user_id).username%></p>
    <text>---------------------------------</text>
  <%end%>

  <%= render partial: 'comments/form', object: @comment  %>
<br>
<br>
<% if session[:user_id] == @trip.user_id%>
<%= link_to "Delete Trip", @trip, method: :delete, data: { confirm: "Are you sure?" } %>
<%end%><br><br><br>
</div>
</div>
