
<div class='backgroundbox'>
  <div class='font'>
  <h1><%=@post.title%></h1>
      <p>By: <%=link_to @post.user.username, user_path(@post.user)%></p>
      <%= render 'relationships/follow', locals: {follow: @follow, user: @user} %>
      <text>---------------------------------</text>
      <text>---------------------------------</text>
      <p><%=@post.description%></p><br>

      <text>---------------------------------</text>
      <text>COMMENTS</text>
      <text>---------------------------------</text>
      <%@comments.reverse.each do |comment|%>
        <p class='comment'><%=comment.content%></p>
        <p class='comment_author'>@<%=User.find(comment.user_id).username%></p>
        <text>---------------------------------</text>
      <%end%>

<%= render partial: 'comments/form', object: @comment  %>
<br>
<br>
<% if session[:user_id] == @post.user_id%>
<%= link_to "Delete Post", @post, method: :delete, data: { confirm: "Are you sure?" } %>
<%end%><br><br><br>
</div>
</div>
