<%=form_for @comment do |f|%>
<%=f.text_area :content%><br>
<%= hidden_field_tag(:commentable_type, @comment.commentable_type) %>
<%= hidden_field_tag(:commentable_id, @comment.commentable_id) %>
<div class='font'><%=f.submit "Comment"%></div>
<%end%>
