<!DOCTYPE html>
<html>

  <head>
    <link rel="icon" href="https://image.flaticon.com/icons/png/512/333/333572.png">
    <title>Hike Candy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>

      <div class="navbar">
        <div style="margin-right: -400px;">
        <a style="margin-right: -30%"><%= link_to "Feed", feed_path%> </a>
        <a style="margin-right: 11%"><%= link_to "Posts", posts_path%> </a>
        <a style="margin-left: -30%"><%= link_to "Trips", trips_path%> </a></div>
        <% if logged_in? %>
            <div style="float: left;"><%= link_to "Current User: #{session[:username]}", user_path(User.find(session[:user_id]))%></div>
            <div style="float: right;"><%= link_to 'Logout', logout_path, {class: 'item', method: 'delete'} %></div>
          <% end %>
      </div>
      <hr>

      <div id="tree"><h1 class="fa fa-tree">Hike Candy</h1></div>
      <div class='feed'>
      <text style="margin-right:50px;"><%=link_to "Create Trip", new_trip_path %></text>
      <%=link_to "Create Post", new_post_path %>
      </div>
    <%= yield %>
  </body>

</html>
